#mainHeader {
  width: 100%;
}

#mainNav {
  position: fixed;
  top: 20px;
  right: 20px;
  font-weight: bold;
  z-index: 99;
}
#mainNav li a {
  border-left: #393760 2px solid;
  transition: all 1s ease;
  padding-left: 10px;
}
#mainNav li:hover a {
  color: #ba7485;
  font-size: 15px;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#socialHead {
  position: absolute;
  top: 20px;
  left: 20px;
}
#socialHead img {
  padding-bottom: 3px;
  transition: all ease 0.5s;
}
#socialHead #fb {
  width: 9px;
  margin-left: 5px;
}
#socialHead #inst {
  width: 18px;
}
#socialHead #twi {
  width: 20px;
}
#socialHead img:hover {
  opacity: 0.5;
}

.logo {
  margin: 0 auto;
  z-index: 2;
}
.logo img {
  width: 73px;
  margin-top: 25px;
}

.fade-away {
  -webkit-animation: fade-away 1s;
  -webkit-animation-fill-mode: forwards;
}

.fade-back {
  -webkit-animation: fade-back 1s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fade-away {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes fade-back {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
#tagline {
  font-size: 13px;
  text-align: center;
  padding-top: 20px;
  line-height: 15px;
  z-index: 3;
  color: #fff;
}

#videoC {
  margin: 0 auto;
  z-index: 4;
}

#vol {
  padding-top: 5px;
}

#volumeBar {
  width: 70px;
  margin-bottom: 5px;
}

.vIcon {
  width: 20px;
  padding: 5px;
  cursor: pointer;
  transition: all 1s ease;
}

#botH {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

#bhL .subLine {
  width: 100px;
}
#bhL .brandDesc {
  padding-top: 90%;
  margin-left: 30px;
  margin-right: 30px;
}

#bhR {
  margin-left: 30px;
  margin-right: 30px;
  position: absolute;
  margin-top: 70px;
}

@media screen and (min-width: 470px) {
  #botH {
    margin-top: 25%;
  }

  #tagline {
    font-size: 17px;
    padding-top: 50px;
    line-height: 20px;
  }
}
@media screen and (min-width: 640px) {
  #botH {
    margin-top: 10%;
  }

  #bhL .brandDesc {
    padding-top: 20px;
  }
  #bhL .subLine {
    width: 50px;
  }

  #bhR {
    position: relative;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }

  #socialHead {
    top: 40px;
    left: 40px;
  }
  #socialHead img {
    padding-bottom: 5px;
  }
  #socialHead #fb {
    width: 11px;
    margin-left: 7px;
  }
  #socialHead #inst {
    width: 23px;
  }
  #socialHead #twi {
    width: 24px;
  }

  .logo img {
    width: 106px;
    margin-top: 40px;
  }

  #tagline {
    font-size: 23px;
    padding-top: 90px;
    line-height: 30px;
  }

  #vol {
    padding-top: 7px;
  }

  #volumeBar {
    width: 90px;
    margin-bottom: 7px;
  }

  .vIcon {
    width: 40px;
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;
  }
}
@media screen and (min-width: 730px) {
  #tagline {
    padding-top: 120px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  #botH {
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    margin-left: 40px;
    margin-right: 40px;
  }
  #botH .subLine {
    margin-left: 8px;
    width: 50px;
  }

  #bhL {
    width: 60%;
    margin-left: 0px;
    margin-right: 0px;
    margin-right: 20px;
    width: 312px;
  }
  #bhL .brandDesc {
    max-width: 450px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #bhL .pinkHead, #bhL .subHead {
    margin-left: 0px;
    margin-right: 0px;
  }
  #bhL .pinkHead {
    letter-spacing: -2px;
  }

  #bhR {
    margin-left: 0px;
    margin-right: 0px;
    width: 50%;
  }
}
#about {
  margin-top: 60px;
}
#about .subLine {
  width: 50px;
}
#about .pinkHead {
  word-wrap: break-word;
}

.memberCon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamImg {
  margin-top: 50px;
  width: 80%;
}

.memberBio {
  display: none;
  position: relative;
  top: -180px;
  background-color: rgba(57, 55, 96, 0.5);
  padding: 10px;
  border-right: 15px solid #ba7485;
  border-left: 15px solid #ba7485;
}
.memberBio .memRole {
  color: #ffffff;
  font-size: 10px;
}
.memberBio .memName {
  color: #f1c0b3;
  font-size: 20px;
  margin-top: 5px;
}
.memberBio .memText {
  color: #fae9e5;
  font-size: 10px;
  margin-top: 5px;
  line-height: 10px;
  max-width: 210px;
}

@media screen and (min-width: 399px) {
  .memberBio {
    top: -180px;
    background-color: rgba(57, 55, 96, 0.5);
    padding: 10px;
    border-right: 15px solid #ba7485;
  }

  .memRole {
    font-size: 12px;
  }

  .memName {
    font-size: 22px;
    margin-top: 5px;
  }

  .memText {
    font-size: 12px;
    margin-top: 5px;
    line-height: 12px;
    max-width: 300px;
  }
}
@media screen and (min-width: 767px) {
  .memberRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .memberCon {
    align-items: center;
  }

  .memCols {
    align-items: center;
  }

  .teamImg {
    margin-top: 30px;
    width: 260px;
  }
}
@media screen and (min-width: 640px) {
  .memberRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }
}
@media screen and (min-width: 767px) {
  .teamImg {
    margin-top: 40px;
    width: 330px;
  }

  .teamImg {
    width: 80%;
  }
}
@media screen and (min-width: 1065px) {
  .teamImg {
    width: 100%;
  }
}
#services {
  margin-top: 60px;
  background-color: #f2e2e6;
  padding-top: 40px;
  padding-bottom: 40px;
}
#services .subLine {
  width: 48px;
}
#services .servH {
  align-items: center;
}
#services .servH .pinkHead {
  margin-left: 0px;
}
#services .servH .subHead {
  margin-left: 0px;
}

.servDesc {
  margin-top: 20px;
  padding: 15px 10px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.servDetails {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.servDetails .cols {
  width: 122px;
  margin-top: 30px;
  text-align: center;
  margin-left: 5px;
}

.servIcon {
  display: none;
}

.servDetails ul h4 {
  padding-bottom: 5px;
}
.servDetails ul li {
  padding-top: 5px;
}

@media screen and (min-width: 640px) {
  .servDetails {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .servDetails .cols {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .servDetails .servIcon {
    margin-left: 40px;
  }
}
@media screen and (min-width: 767px) {
  .servH {
    margin-left: auto;
    margin-right: auto;
  }

  .servDescCon {
    align-items: center;
  }

  .servDesc {
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
  }

  .servDetails {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
  .servDetails ul {
    margin-left: auto;
    margin-right: auto;
  }
  .servDetails h4 {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center !important;
  }
  .servDetails li {
    padding-right: 0 !important;
  }

  .servIcon {
    display: block;
    width: 45px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1025px) {
  .servDesc {
    padding-left: 250px;
    padding-right: 250px;
  }
}
#projects {
  margin-top: 60px;
}

.pjSubLine {
  display: none;
}

.pjDesc {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.pjText {
  margin-top: 40px;
}
.pjText a {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 15px;
  width: 30%;
}
.pjText a:hover {
  color: #ba7485;
}

.rArrow {
  width: 15px;
  margin-left: 5px;
}

.pjImg {
  margin: 30px 10% 30px 10%;
  width: 80%;
}

.pjImgDT {
  display: none;
}

@media screen and (min-width: 767px) {
  .pjTextCon {
    display: flex;
    justify-content: space-between;
  }

  .pjText {
    margin-top: 60px;
    width: 50%;
  }
  .pjText .pjImg {
    display: none;
  }
  .pjText .subHead {
    margin-right: 0 !important;
    margin-left: 0;
    margin-top: 60px;
  }
  .pjText .pjSubLine {
    display: block;
    margin-top: 70px;
    order: -1;
    background-color: #393760;
    width: 30px;
    height: 2px;
    margin-left: auto;
    margin-right: 8px;
  }
  .pjText .pinkHead {
    margin-right: 0 !important;
    margin-left: auto !important;
    font-size: 30px;
  }
  .pjText .pjDesc {
    margin-right: 0 !important;
    padding-left: 130px;
    padding-right: 0 !important;
    margin-top: 20px;
  }

  .pjLine {
    height: 60px;
    width: 2px;
    background-color: #393760;
    margin-left: auto;
    margin-right: 0;
  }

  .pjText a {
    margin-left: auto !important;
    margin-right: 0 !important;
    margin-top: 30px;
  }

  .pjImgDT {
    display: block;
    margin: 60px 30px;
  }

  .pjTextConR .pjImgDT {
    order: -1;
  }
  .pjTextConR .subHead {
    order: -1;
    margin-left: 0;
  }
  .pjTextConR .pjSubLine {
    margin-left: 8px;
    width: 50px;
  }
  .pjTextConR .pinkHead {
    margin-left: 0 !important;
  }
  .pjTextConR .pjDesc {
    margin-left: 0 !important;
    padding-left: 0;
    padding-right: 130px !important;
  }
  .pjTextConR .pjLine {
    margin-left: 0;
  }
  .pjTextConR a {
    margin-left: 0 !important;
  }
}
#contact {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ba7485;
}
#contact .subLine {
  width: 30px;
}

.conDesc {
  color: #fae9e5;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.conDetails {
  margin-left: 30px;
  margin-top: 20px;
  color: #fae9e5;
}

#contactForm {
  margin-top: 40px;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
#contactForm label {
  color: #fae9e5;
  margin-top: 20px;
}
#contactForm input {
  background-color: #ba7485;
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 8px;
  border-bottom: 1.5px #393760 solid;
}
#contactForm .inputField {
  width: 60%;
}
#contactForm ::placeholder {
  color: #393760;
}
#contactForm select {
  font-size: 12px;
  width: 120px;
  color: #393760;
  background-color: #ba7485;
  margin-left: 10px;
  margin-top: 10px;
  border-bottom: 1.5px #393760 solid;
}
#contactForm textarea {
  font-size: 12px;
  background-color: #ba7485;
  margin-top: 5px;
  padding-top: 5px;
  padding-left: 5px;
  border: 1.7px #393760 solid;
}
#contactForm #submit {
  border: none;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0px;
  color: #ffffff;
  background-color: #393760;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  #contact {
    display: flex;
    flex-direction: row;
  }
  #contact .subLine {
    width: 50px;
  }
  #contact .roseHead {
    font-size: 28px;
    padding-top: 5px;
  }

  #conLine {
    width: 50px;
    height: 2px;
    background-color: #393760;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  #contactForm {
    width: 50%;
    border-left: solid 2px #393760;
    padding-left: 30px;
  }
}
#mainFooter {
  background-color: #393760;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainFooter h3 {
  color: #ffffff;
  padding-top: 20px;
  font-size: 14px;
}
#mainFooter a {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 40px;
}
#mainFooter img {
  order: -1;
  width: 40px;
  padding-top: 30px;
}

@media screen and (min-width: 767px) {
  #mainFooter {
    flex-direction: row;
    padding: 30px 40px;
  }
  #mainFooter img {
    order: 3;
    margin-right: 0;
    margin-left: 20px;
  }
  #mainFooter img, #mainFooter a, #mainFooter h3 {
    padding: 0;
  }
  #mainFooter a {
    margin-left: auto;
    margin-top: 0;
  }
}
#hb1 {
  position: absolute;
  top: 0;
  left: 0;
}

#hbTop, #hbtopL {
  display: flex;
  flex-direction: column;
}
#hbTop #hb2, #hbtopL #hb2 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 30px;
  margin-right: 30px;
}

#healthyB {
  margin-top: 60%;
}
#healthyB .subLine {
  display: none;
}

#hbtopR {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

#CSandS {
  display: flex;
  flex-direction: row;
}

#CandS {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#CandS #candsLine {
  height: 45px;
  border-left: 1px solid #000;
}
#CandS .roseHead {
  margin-left: 0px;
}

#scope .roseHead {
  margin-left: 0px;
}

#hb3 {
  width: 80%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#pjSwitch {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 37px;
  justify-content: space-between;
}
#pjSwitch #prevPj {
  display: flex;
  flex-direction: row;
}
#pjSwitch #prevPj p {
  font-size: 13px;
  margin-top: -3px;
}
#pjSwitch #prevPj #pjLA {
  background-image: url(/images/left_p_arrow.svg);
  background-repeat: no-repeat;
  width: 13px;
}
#pjSwitch #prevPj:hover {
  color: #ba7485;
}
#pjSwitch #prevPj:hover #pjLA {
  background-image: url(/images/left_r_arrow.svg);
  background-repeat: no-repeat;
}
#pjSwitch #nextPj {
  display: flex;
  flex-direction: row;
}
#pjSwitch #nextPj p {
  font-size: 13px;
  margin-top: -3px;
}
#pjSwitch #nextPj #pjRA {
  background-image: url(/images/right_p_arrow.svg);
  background-repeat: no-repeat;
  width: 13px;
}
#pjSwitch #nextPj:hover {
  color: #ba7485;
}
#pjSwitch #nextPj:hover #pjRA {
  background-image: url(/images/right_r_arrow.svg);
  background-repeat: no-repeat;
}

#prevPj img, #nextPj img {
  width: 13px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 2px;
}

#hbMain {
  margin-top: 45px;
}

html {
  scroll-behavior: smooth;
}

img, embed, object, video {
  max-width: 100%;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#container {
  width: 100%;
  max-width: 1360px;
  min-width: 320px;
}

.hidden {
  display: none;
}

li {
  list-style-type: none;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #4b4b4f;
  line-height: 20px;
}

.rowsH {
  display: flex;
}

.subHead {
  color: #393760;
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
}

.subLine {
  background-color: #393760;
  width: 200px;
  height: 2px;
  margin-left: 8px;
  margin-right: auto;
  margin-top: 10px;
}

.pinkHead {
  color: #ba7485;
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
  padding-top: 3px;
  margin-right: 30px;
  line-height: 25px;
  letter-spacing: -1px;
}

.pinkBox {
  background-color: #eedde1;
}

h4 {
  font-weight: bold;
  color: #ba7485;
  font-size: 16px;
}

.rows {
  display: flex;
}

.cols {
  display: flex;
  flex-direction: column;
}

a {
  color: #393760;
}

.roseHead {
  color: #f1c0b3;
  font-weight: bold;
  font-size: 17px;
  margin-left: 30px;
  padding-top: 3px;
}

.servSubH {
  color: #ba7485;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 4px;
}

input, textarea, select {
  border: none;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 768px) {
  .pinkHead {
    font-size: 30px;
  }

  .roseHead {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
