@charset "utf-8";

.hidden{
    display: none;
}

#container{
    margin: 0 auto;
    max-width: 1200px;
}

#burgerCon li{
    list-style-type: none;
}

a:link, a:visited
{
 text-decoration:none;
}

a:hover, a:active
{
 text-decoration:none;
}