@import '_vars';
@import 'modules/_about';
@import 'modules/_services';
@import 'modules/_projects';
@import "modules/videosection";


.hidden{
    display: none;
}

#container{
    margin: 0 auto;
    /* max-width: 1200px; */
}

li{
    list-style-type: none;
}

a:link, a:visited
{
 text-decoration:none;
}

a:hover, a:active
{
 text-decoration:none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: $imaginaGray;
    line-height: 20px;}

.rowsH {
    display: flex;
}

.subHead {
    color: $imaginaPurple;
    font-size: 16px;
    margin-left: 30px;
}

.subLine {
    background-color: $imaginaPurple;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 100px;
}

.pinkHead {
    color: $imaginaPink;
    font-size: 18px;
    margin-left: 30px;
    padding-top: 3px; 
}

.pinkBox {
    background-color: $imaginaLightRose;
}

h4 {
    font-weight: bold;
    color: $imaginaRose;
    font-size: 16px;
}

.rows {
    display: flex;
}