@mixin column(){
    display: flex;
    flex-direction: column;
}

@mixin row(){
    display: flex;
    flex-direction: row;
}

@mixin mar30() {
    margin-left: 30px;
    margin-right: 30px;
}

#about {
    margin-top: 60px;
    .subLine {
        width: 50px;
    }
    .pinkHead {
        word-wrap: break-word;
    }
}

#about img {
    margin-top: 30px;
    @include mar30;
    width: 260px;
}

@media screen and (min-width: 767px) {
    .memberRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}