#about {
    margin-top: 60px;
    .subLine {
        width: 50px;
    }
    .pinkHead {
        max-width: 300px;
    }
}

.memberCon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamImg {
    margin-top: 50px;
    width: 80%;
}

.memberBio {
    display: none;
    position: relative;
    top: -350px;
    background-color: rgba($color: $imaginaPurple, $alpha: .5);
    padding: 20px;
    border-right: 10px solid $imaginaPink;
}


@media screen and (min-width: 767px) {
    .memberRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .memberCon {
        align-items: center;
    }
    .teamImg {
        width: 80%;
    }

    
}

@media screen and (min-width:1065px) {
    .teamImg {
        width: 100%;
    }
}
