@mixin column(){
    display: flex;
    flex-direction: column;
}

@mixin row(){
    display: flex;
    flex-direction: row;
}

@mixin marNone() {
    margin-left: 0px;
    margin-right: 0px;
}

@mixin mar30() {
    margin-left: 30px;
    margin-right: 30px;
}

@mixin mar40() {
    margin-left: 40px;
    margin-right: 40px;
}

@mixin mar50() {
    margin-left: 50px;
    margin-right: 50px;
}

#contact {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $imaginaPink;
    @include row;
    justify-content: center;
    .subLine {
        width: 30px;
    }
}

.conDesc {
    color: #ffffff;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.conDetails {
    margin-left: 30px;
    margin-top: 20px;
    color: #ffffff;
}

#conLeft {
    // margin-left: 5%;
}

#contactForm {
    margin-top: 40px;
    margin-right: 5%;
    // margin-left: 30px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    label {
        color: #ffffff;
        // margin-left: 30px;
        margin-top: 20px;
    }
    input {
        background-color: $imaginaPink;
        margin-left: 10px;
        margin-top: 10px;
        padding-left: 8px;
        border-bottom: 1.5px $imaginaPurple solid;
    }
    .inputField {
        width: 60%;
    }
    ::placeholder {
        color: $imaginaPurple;
    }
    select {
        font-size: 12px;
        // width: 120px;
        color: $imaginaPurple;
        background-color: $imaginaPink;
        margin-left: 10px;
        margin-top: 10px;
        border-bottom: 1.5px $imaginaPurple solid;
        // background-position-x: 100px;
        // background-size: 20px;
        // -webkit-appearance: none;
        // background-image: url(/images/form_arrow.svg);
    }
    textarea {
        font-size: 12px;
        background-color: $imaginaPink;
        // margin-left: 30px;
        margin-top: 5px;
        padding-top: 5px;
        padding-left: 5px;
        // margin-right: 30px;
        border: 1.7px $imaginaPurple solid;
        width: 316px;
    }
    #submit {
        border: none; 
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
        color: #ffffff;
        width: 100%;
        // margin-left: 30px;
        // margin-right: 30px;
        background-color: $imaginaPurple;
        cursor: pointer;
    }
}

#heartI {
    width: 30%;
    margin-top: 50px;
    margin-left: 30px;
}

@media screen and (min-width: 767px) {
    #contact {
        display: flex;
        flex-direction: row;
        .subLine {
            width: 50px;
        }
        .roseHead {
            font-size: 28px;
            padding-top: 5px;
        }
    }
    #conLine {
        width: 50px;
        height: 2px;
        background-color: $imaginaPurple;
        margin-top: 50px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    #contactForm {
        width: 50%;
        border-left: solid 2px $imaginaPurple;
        padding-left: 30px;
        font-size: 16px;
    } 
}