@mixin column(){
    display: flex;
    flex-direction: column;
}

@mixin row(){
    display: flex;
    flex-direction: row;
}

@mixin marNone() {
    margin-left: 0px;
    margin-right: 0px;
}

@mixin mar30() {
    margin-left: 30px;
    margin-right: 30px;
}

@mixin mar40() {
    margin-left: 40px;
    margin-right: 40px;
}

@mixin mar50() {
    margin-left: 50px;
    margin-right: 50px;
}

#hb0 {
    position: absolute;
    top: 0;
    left: 0;
}

#hb1 {
    visibility: hidden;
    position: absolute;
}

#hbTop, #hbtopL{
    @include column();
    #hb2 {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        @include mar30();
    }
}

#healthyB {
    margin-top: 60%;
    .subLine{
        display: none;
    }
}

#hbtopR{
    @include column();
    @include mar30();
}

#CSandS{
    @include row(); 
    justify-content: space-between;
}

#CandS {
    @include column();
    justify-content: space-between;
    #candsLine {
        height: 45px;
        border-left: 1px solid #000;
    }
    .roseHead {
        margin-left: 0px;
    }
}

#scope .roseHead {
    margin-left: 0px;
}

#hb3{
    width: 80%;
    // height: 280px;
    @include mar30();
    margin-top: 20px;
    margin-bottom: 30px;
}

#pjSwitch {
    @include row();
    @include mar30();
    margin-bottom: 37px;
    justify-content: space-between;
    #prevPj{
        @include row();
        // transition: all 1s ease;
        p{
            font-size: 13px;
            margin-top: -3px;
        }
        #pjLA{
            background-image: url(/images/left_p_arrow.svg);
            background-repeat: no-repeat;
            width: 13px;
        }
        &:hover{
            color: #ba7485;
        }
        &:hover #pjLA{
            background-image: url(/images/left_r_arrow.svg);
            background-repeat: no-repeat;
        }
    }
    #nextPj{
        @include row();
        // transition: all 1s ease;
        p{
            font-size: 13px;
            margin-top: -3px;
        }
        #pjRA{
            background-image: url(/images/right_p_arrow.svg);
            background-repeat: no-repeat;
            width: 13px;
        }
        &:hover{
            color: $imaginaPink;
        }
        &:hover #pjRA{
            background-image: url(/images/right_r_arrow.svg);
            background-repeat: no-repeat;
        }
    }
}

#prevPj img, #nextPj img{
    width: 13px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 2px;
}

#hbMain {
    margin-top: 45px;
}

@media screen and (min-width: 321px) {
    #hb0 {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
    }
    
    #hb1 {
        visibility: visible;
        position: absolute;
        width: 100%;
    }
    #healthyB {
        margin-top: 40%;
    }
}

@media screen and (min-width: 500px) {
    #hbtopL #hb2 {
        width: 90%;
    }
    #hb3 {
        width: 90%;
    }
}

@media screen and (min-width: 768px) {
    #hbTop {
        @include row;
        @include mar40;
        #hbtopR {
            width: 70%;
            margin-right: 0;
        }
    }
    #hbtopL #hb2 {
        margin-left: 0;
        margin-right: 0;
        margin-top: 90px;
    }
    #hb3 {
        margin-left: 5%;
    }
    #pjSwitch {
        #prevPj{
            @include row();
            // transition: all 1s ease;
            p{
                font-size: 15px;
                margin-top: -8px;
            }
            #pjLA{
                background-image: url(/images/left_p_arrow.svg);
                background-repeat: no-repeat;
                width: 15px;
            }
            &:hover{
                color: #ba7485;
            }
            &:hover #pjLA{
                background-image: url(/images/left_r_arrow.svg);
                background-repeat: no-repeat;
            }
        }
        #nextPj{
            @include row();
            // transition: all 1s ease;
            p{
                font-size: 15px;
                margin-top: -8px;
            }
            #pjRA{
                background-image: url(/images/right_p_arrow.svg);
                background-repeat: no-repeat;
                width: 15px;
            }
            &:hover{
                color: $imaginaPink;
            }
            &:hover #pjRA{
                background-image: url(/images/right_r_arrow.svg);
                background-repeat: no-repeat;
            }
        }
    }
    
    #prevPj img, #nextPj img{
        width: 13px;
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 2px;
    }
}


