#mainFooter {
    background-color: $imaginaPurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        color: #ffffff;
        padding-top: 20px;
        font-size: 14px;
    }
    a {
        color: #ffffff;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    img {
        order: -1;
    width: 40px;
    padding-top: 30px;
    }
}

@media screen and (min-width: 767px) {
    #mainFooter {
        flex-direction: row;
        padding: 30px 40px;
        img {
            order: 3;
            margin-right: 0;
            margin-left: 20px;
        }
        img, a, h3 {
            padding: 0;
        }
        a {
            margin-left: auto;
            margin-top: 0;
        }

    }
}
