#mainHeader {
    width: 100%;
    // background-color: $imaginaRose;
    // padding-top: 30px; 
}

#mainNav {
    position: fixed;
    top: 20px;
    right: 20px;
    font-weight: bold;
    z-index: 99;
    li a{
        border-left: $imaginaPurple 2px solid;
        transition: all 1s ease;
        padding-left: 10px;
    }
    li:hover a {
        color: $imaginaPink;
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) {
    #mainNav {
        font-size: 20px;
        top: 40px;
        right: 40px;
        li {
            padding-bottom: 8px;
        }
        li:hover a {
            font-size: 23px;
        }
    }
}

@media screen and (min-width: 1200px) {
    #mainNav {
        font-size: 20px;
        top: 70px;
        right: 70px;
        li {
            padding-bottom: 8px;
        }
        li:hover a {
            font-size: 23px;
        }
    }
}