#mainHeader {
    width: 100%;
    // background-color: $imaginaRose;
    // padding-top: 30px; 
}

#mainNav {
    position: fixed;
    top: 20px;
    right: 20px;
    font-weight: bold;
    z-index: 99;
    li a{
        border-left: $imaginaPurple 2px solid;
        transition: all 1s ease;
        padding-left: 10px;
    }
    li:hover a {
        color: $imaginaPink;
        font-size: 15px;
    }
}

