#mainHeader {
    width: 100%;
    background-color: $imaginaRose;
    padding-top: 30px;
    // display: grid;
    // grid-template-columns: repeat(5, 76px);
    // grid-gap: auto;
    
}

.socialLogoCon {
    justify-content: space-between;
    width: 60%;
}

#socialHead {
    margin-left: 20px;
    img {
        width: 25px;
        height: 25px;
        padding-bottom: 5px;
        transition: all ease 1s;
    }
    img:hover {
        opacity: .2;
    }
}

.logo img {
    width: 76px;
}

#mainNav {
    position: fixed;
    top: 20px;
    right: 20px;
    font-weight: bold;
    a {
        border-left: $imaginaPurple 2px solid;
        transition: all 1s ease;
        padding-left: 10px;
    }
    a:hover {
        color: $imaginaPink;
    }
    
    a:active {
        border-left: $imaginaPink 2px solid;
        color: $imaginaPink;
    }
}

