@mixin column(){
    display: flex;
    flex-direction: column;
}

@mixin row(){
    display: flex;
    flex-direction: row;
}

@mixin marNone() {
    margin-left: 0px;
    margin-right: 0px;
}

@mixin mar30() {
    margin-left: 30px;
    margin-right: 30px;
}

@mixin mar40() {
    margin-left: 40px;
    margin-right: 40px;
}

@mixin mar50() {
    margin-left: 50px;
    margin-right: 50px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
    z-index: 0;
}

#socialHead {
    position: absolute;
    top: 20px;
    left: 20px;
    // display: block;
    z-index: 2;
    // background-color: black;
    img {
        padding-bottom: 3px;
        transition: all ease 0.5s;
    }
    #fb {
        width: 9px;
        margin-left: 5px;
        // height: 25px;
    }
    #inst {
        width: 18px;
    }
    #twi {
        width: 20px;
    }
    img:hover {
        opacity: 0.5;
    }
}

.logo {
    margin: 0 auto;
    z-index: 2;
    img {
        width: 73px;
        margin-top: 25px;
    }
}

.fade-away {
    -webkit-animation: fade-away 1s;
    -webkit-animation-fill-mode: forwards; 
}

.fade-back {
    -webkit-animation: fade-back 1s;
    -webkit-animation-fill-mode: forwards; 
}

@keyframes fade-away {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

@keyframes fade-back {
    from {
        visibility: hidden;
    }
    to {
        visibility: visible;
    }
}

#tagline {
    font-size: 13px;
    text-align: center;
    padding-top: 20px;
    line-height: 15px;
    z-index: 3;
    color: #fff;
}

#videoC {
    margin: 0 auto;
    z-index: 4;
}

#vol {
    padding-top: 5px;
}

#volumeBar {
    width: 70px;
    margin-bottom: 5px;
}

.vIcon {
    width: 20px;
    padding: 5px;
    cursor: pointer;
    transition: all 1s ease;
}

#botH {
    margin-top: 20%;
    @include column;
}

#bhL {
    .subLine {
        width: 100px;
    }
    .brandDesc {
        padding-top: 90%;
        @include mar30;
    }
}

#bhR {
    @include mar30;
    position: absolute;
    margin-top: 70px;
}

@media screen and (min-width: 470px) {
    #botH {
        margin-top: 25%;
    }
    #tagline {
        font-size: 17px;
        padding-top: 50px;
        line-height: 20px;
    }
}

@media screen and (min-width: 640px) {

    #botH {
        margin-top: 10%;
    }
    #bhL {
        .brandDesc {
            padding-top: 20px;
        }
        .subLine {
            width: 50px;
        }
    }
    #bhR {
        position: relative;
        margin-top: 20px;
        @include mar40;
    }
    #socialHead {
        top: 40px;
        left: 40px;
        img {
            padding-bottom: 5px;
        }
        #fb {
            width: 11px;
            margin-left: 7px;
        }
        #inst {
            width: 23px;
        }
        #twi {
            width: 24px;
        }
    }
    .logo {
        img {
            width: 106px;
            margin-top: 40px;
        }
    }
    #tagline {
        font-size: 23px;
        padding-top: 90px;
        line-height: 30px;
    }
    
    #vol {
        padding-top: 7px;
    }
    
    #volumeBar {
        width: 90px;
        margin-bottom: 7px;
    }
    
    .vIcon {
        width: 40px;
        padding: 10px;
        cursor: pointer;
        transition: all 1s ease;
    }
}

@media screen and (min-width: 730px) {
    #tagline {
        padding-top: 120px;
        line-height: 30px;
    }
}

@media screen and (min-width: 768px) {
    #botH {
        display: flex;
        flex-direction: row;
        margin-top: 15%;
        @include mar40;
        .subLine {
            margin-left: 8px;
            width: 50px;
        }
    }
    #bhL {
        width: 60%;
        @include marNone;
        margin-right: 20px;
        width: 312px;
        .brandDesc {
            max-width: 450px;
            @include marNone;
        }
        .pinkHead, .subHead {
            @include marNone;
        }
        .pinkHead {
            letter-spacing: -2px;
        }
    }
    #bhR {
        @include marNone;
        width: 50%;
    }
    
} 

@media screen and (min-width: 900px) {
    #home {
        .logo {
            img {
                width: 144px;
                margin-top: 60px;
            }
        }
        #socialHead {
            top: 60px;
            left: 60px;
            img {
                padding-bottom: 8px;
            }
            #fb {
                width: 13px;
                margin-left: 8px;
            }
            #inst {
                width: 27px;
            }
            #twi {
                width: 29px;
            }
        }
        #tagline {
            font-size: 40px;
            padding-top: 130px;
            line-height: 45px;
        }
        #botH {
            display: flex;
            flex-direction: row;
            margin-top: 15%;
            @include mar50;
            .subLine {
                margin-left: 8px;
                width: 50px;
            }
        }
        #bhL {
            width: 50%;
            @include marNone;
            margin-right: 20px;
            // width: 312px;
            .brandDesc {
                max-width: 450px;
                @include marNone;
                margin-top: 20px;
                width: 80%;
            }
            .pinkHead, .subHead {
                @include marNone;
            }
            .pinkHead {
                letter-spacing: -2px;
            }
        }
        #bhR {
            @include marNone;
            width: 50%;
            margin-top: 0px;
        }
    }
}
@media screen and (min-width: 1100px) {
    #home {
        .logo {
            img {
                margin-top: 70px;
            }
        }
        #tagline {
            padding-top: 140px;
        }
        #botH {
            margin-top: 25%;
            .subLine {
                margin-left: 8px;
                width: 200px;
            }
        }
        #bhL {
            width: 50%;
            // @include marNone;
            margin-right: 20px;
            // width: 312px;
            .brandDesc {
                max-width: 450px;
                @include marNone;
                margin-top: 30px;
                width: 80%;
            }
        }
        #bhR {
            width: 50%;
            margin-left: 70px;
            // margin-top: 0px;
        }
    }
}