@mixin column(){
    display: flex;
    flex-direction: column;
}

@mixin row(){
    display: flex;
    flex-direction: row;
}

@mixin marNone() {
    margin-left: 0px;
    margin-right: 0px;
}

@mixin mar30() {
    margin-left: 30px;
    margin-right: 30px;
}

@mixin mar40() {
    margin-left: 40px;
    margin-right: 40px;
}

@mixin mar50() {
    margin-left: 50px;
    margin-right: 50px;
}

#projects {
    margin-top: 60px;
}

.pjSubLine {
    display: none;
}

.pjTextCon {
    @include column;
}

.pjDesc {
    @include mar30;
    margin-bottom: 20px;
}

.pjText {

    @include column;
    margin-top: 20px;
    a {
        @include mar30;
        font-size: 15px;
        width: 30%;
    }
    a:hover {
        color: $imaginaPink;
    }
}

.rArrow {
    width: 15px;
    margin-left: 5px;
    // margin-top: 7px;
}

.pjImg {
    margin: 30px 10% 30px 10%;
    width: 80%;
    // display: flex;
}

.pjImgDT {
    display: none;
}


@media screen and (min-width: 767px) {
    .pjTextCon {
        @include row;
        @include mar40;
        margin-bottom: 30px;
        // justify-content: center;
        align-items: center;
        .pjImg {
            display: none;
        }
        .pjText {
            @include column;
            justify-content: flex-end;
            margin-right: 30px;
            width: 45%;
            .pjTH{
                text-align: right;
                h3 {
                    @include marNone;
                }
            }
            .pjTH .rowsH{
                justify-content: flex-end;
            }
            .pjDesc {
                text-align: right;
                @include marNone;
                margin-top: 20px;
                width: 80%;
                align-self: flex-end;
            }
            a {
                width: 30%;
                // display: flex;
                @include marNone;
                align-self: flex-end;
                margin-bottom: 20px;
            }
        }
    }
    #projects div:nth-child(3) {
        .pjImgDT {
            order: -1;
        }
        .pjText {
            margin-left: 30px;
        }
        .pjTH{
            text-align: left;
            // h3 {
            //     @include marNone;
            // }
        }
        .pjTH .rowsH{
            justify-content: flex-start;
        }
        .rowsH p {
            margin-left: 0px;
        }
        .pjDesc {
            text-align: left;
            @include marNone;
            margin-top: 20px;
            align-self: flex-start;
        }
        a {
            width: 30%;
            // display: flex;
            @include marNone;
            align-self: flex-start;
        }
    }

    .pjImgDT {
        display: flex;
        width: 345px;
    }
    
}
