@mixin column(){
    display: flex;
    flex-direction: column;
}

@mixin row(){
    display: flex;
    flex-direction: row;
}

@mixin mar30() {
    margin-left: 30px;
    margin-right: 30px;
}

#projects {
    margin-top: 60px;
}

.pjSubLine {
    display: none;
}

.pjDesc {
    @include mar30;
    margin-bottom: 20px;
}

.pjText {
    margin-top: 40px;
    a {
        @include mar30;
        font-size: 15px;
        width: 30%;
    }
    a:hover {
        color: $imaginaPink;
    }
}

.rArrow {
    width: 15px;
    margin-left: 5px;
    // margin-top: 7px;
}

.pjImg {
    margin: 30px 10% 30px 10%;
    width: 80%;
    // display: flex;
}

.pjImgDT {
    display: none;
}

@media screen and (min-width: 767px) {
    .pjTextCon {
        display: flex;
        justify-content: space-between;
    }
    .pjText {
        margin-top: 60px;
        width: 50%;
        .pjImg {
            display: none;
        }
        .subHead {
            margin-right: 0 !important;
            margin-left: 0;
            margin-top: 60px;
        }
        .pjSubLine {
            display: block;
            margin-top: 70px;
            order: -1;
            background-color: $imaginaPurple;
            width: 30px;
            height: 2px;
            margin-left: auto;
            margin-right: 8px;
        }
        .pinkHead {
            margin-right: 0 !important;
            margin-left: auto !important;
            font-size: 30px;
        }
        .pjDesc {
            margin-right: 0 !important;
            padding-left: 130px;
            padding-right: 0 !important;
            margin-top: 20px;
        }
    }
    .pjLine {
        height: 60px;
        width: 2px;
        background-color: $imaginaPurple;
        margin-left: auto;
        margin-right: 0;
    }
    .pjText a {
        margin-left: auto !important;
        margin-right: 0 !important; 
        margin-top: 30px;
    }
    .pjImgDT {
        display: block;
        margin: 60px 30px;
    }
    .pjTextConR {
        .pjImgDT {
            order: -1;
        }
        .subHead {
            order: -1;
            margin-left: 0;
        }
        .pjSubLine {
            margin-left: 8px;
            width: 50px;
        }
        .pinkHead {
            margin-left: 0 !important;
        }
        .pjDesc {
            margin-left: 0 !important;
            padding-left: 0;
            padding-right: 130px !important;
        }
        .pjLine {
            margin-left: 0;
        }
        a {
            margin-left: 0 !important;
        }
    }
}