@mixin column(){
    display: flex;
    flex-direction: column;
}

@mixin row(){
    display: flex;
    flex-direction: row;
}

@mixin mar30() {
    margin-left: 30px;
    margin-right: 30px;
}

#services {
    margin-top: 60px;
    background-color: $imaginaLightRose2;
    padding-top: 40px;
    padding-bottom: 40px;
    .subLine {
        width: 48px;
    }
    .servH {
        align-items: center;
        .pinkHead {
            margin-left: 0px;
        }
        .subHead {
            margin-left: 0px;
        }
    }
}

.servDesc {
    margin-top: 20px;
    // margin-bottom: 30px;
    padding: 15px 10px;
    @include mar30;
    text-align: center;
    // background-color: $imaginaLightRose;
}

.servDetails {
    @include mar30;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // width: 90%;
    .cols {
        width: 122px;
        margin-top: 30px;
        text-align: center;
        margin-left: 5px;
    }
}

.servIcon {
    display: none;
}

.servDetails ul {
    h4 { padding-bottom: 5px; }
    li { 
        padding-top: 5px;
    }
}

@media screen and (min-width: 640px) {
    .servDetails {
        @include mar30;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        // width: 90%;
        .cols {
            // width: 90%;
            margin-top: 40px;
            // text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        .servIcon {
            margin-left: 40px;
        }
    }
}

@media screen and (min-width: 767px) {
    .servH {
        margin-left: auto;
        margin-right: auto;
    }
    .servDescCon {
        align-items: center;
    }
    .servDesc {
        text-align: center;
        padding-right: 200px;
        padding-left: 200px;
    }
    .servDetails {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        ul {
            margin-left: auto;
            margin-right: auto;
        }
        h4 {
            margin-left: auto !important;
            margin-right: auto !important;
            text-align: center !important;
        }
        li {
            padding-right: 0 !important;
        }
    }
    .servIcon {
        display: block;
        width: 45px;
        margin-bottom: 8px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 900px) {
    #services {
        padding-top: 70px;
        padding-bottom: 90px;
    }
    .servH {
        margin-left: auto;
        margin-right: auto;
    }
    .servDesc {
        text-align: center;
        padding-right: 200px;
        padding-left: 200px;
    }
    .servDetails {
        ul {
            margin-left: auto;
            margin-right: auto;
        }
        h4 {
            font-size: 28px;
        }
        li {
            font-size: 18px;
            line-height: 25px;
        }
        .cols {
            margin-right: 0px;
            margin-left: 0px;
            width: 255px;
        }
        .servIcon {
            width: 65px;
            margin-bottom: 10px;
        }
        .svi1 {
            margin-left: 95px;
        }
        .svi2 {
            margin-left: 100px;
        }
        .svi3 {
            margin-left: 95px;
        }
        .svi4 {
            margin-left: 95px;
        }
    }
    
    .svi3 {
        padding-top: 20px;
    }
}

@media screen and (min-width: 1025px) {
    .servDesc {
        padding-left: 250px;
        padding-right: 250px;
    }
}
